@import './base.css';
@import './sta.css';
@import './fonts.css';

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

html,
body {
  margin: 0;
  height: 100%;
  background: linear-gradient(to bottom, #000000, var(--vt-c-blue-faded));
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
}
